* {
	font-family: 'Ubuntu', Monospace;
}

.App-header {
	background-color: black;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 5vmin);
	color: white;
}
